body {
  font-family: 'Open Sans', sans-serif;
  background-color: #08458A; /*#08458A*/
  color: #ABD4FF; /*#ABD4FF*/

  text-align:center;
  margin:auto;
}

a {
  text-decoration: none;
}

.header {
  font-family: 'Source Sans Pro', sans-serif;

  display: block;
  font-size: 175%;
  width: 100%;
  margin-bottom: 10px;
  background-color: #0B5DB9; /*#0B5DB9*/
  box-shadow: 0 0 4px #000000;

  text-shadow: 0 0 3px #000000;
}

h1 {
  margin:auto;
}

.projectCard {
  overflow: hidden;
  position: relative;

  margin: 8px;

  width: 400px;
  height: 320px;
  background-color: #06569E; /*#06569E*/
  display: inline-flex;
  flex-direction: column;

  box-shadow: 1px 1px 10px -2px #000000;
  border-radius: 10px;
}

.projectCardHeader {
  box-shadow: 1px 1px 6px -2px #000000;
  max-height: 42px;
  text-align: left;
  padding: 8px;
}

.projH1 {
  font-size: 26px;
  line-height: 20px;
}

.projDateStamp {
  font-size: 14px;
  line-height:6px;
  /* display: none; */
}

.projImg {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;

  width: 48px;
  height: 48px;

  /*width: 24px;
  height: 24px; */
}

.projectCardBody {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  line-height: normal;

  align-content: flex-start;

  overflow: hidden;

  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
}

.projPar {
  flex: auto;
}

.projectCardFooter {
  display: flex;
  flex-direction: row;

  box-shadow: 0 0 6px -1px #000000;
}

.projectCardButton {
  display: flex;
  background-color: #11af0c;

  flex-grow: 1;

  align-items: center;
  justify-content: center;

  color: white;
  box-shadow: inset 0 0 18px -4px #000000;

  font-size: 24px;
  line-height: 30px;

  padding: 4px;

  height: 28px;
}

.projectCardButton:hover {
  box-shadow: inset 0 0 10px 0 #000000;
}

.projectCardButton:active {
  filter: brightness(125%);
}

a {
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
}

#profileContainer {
  margin-top: 12px;
  margin-bottom: 4px;
}

.profile {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;

  color: #ABD4FF;

  margin: 2px;

  font-size: 17px;

  border-radius: 8px;
  background-color: #06569E;
  box-shadow: inset 0 0 4px -1px #000000, 0 0 2px 0 #000000;
}

#profilePatreon {
  margin-top: 5px;
}

.profile:hover {
  box-shadow: inset 0 0 8px -1px #000000, 0 0 2px 0 #000000;
}

.profile:visited {
  color: #ABD4FF;
}

.profile:active {
  filter: brightness(125%);
}

.profileImg {
  margin: 3px;
  height: 27px;
}

.profileName {
  display: none;
}

@media print {
  .projectCardButton {
    display: none;
  }

  .projectCard {
    height: auto;
  }

  .profileName {
    display: inline;
  }

  .profileImg {
    margin: 0;
    margin-right: 4px;
  }

  .profile.noName {
    display: none;
  }

  .projectCard {
    margin: 4px;
  }
}
