body {
  font-size: 17px;

  font-family: 'Source Sans Pro', sans-serif;

  background-color: #03529F;
  color: #FFFFFF;
  margin: 0;
}

.bodyDoubleColumns {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}

.bodyColumn {
  padding: 12px;
}

.bodyColumnHeader {
  margin: 0;
}

::selection {
  background: #000055;
}

#block {
  display: flex;
  flex-direction: column;

  background-color: #287CCE;

  overflow: hidden;

  align-items: center;

  margin: 0;

  box-shadow: 0 0 6px #202020;
}

#blockContent {
  width: 84%;
  min-height: 400px;
}

#blockHeader {
  display: inline-flex;
  text-align: left;


  background-color: #106DC7;
  box-shadow: 0 0 4px #202020;

  width: 100%;
  height: 40px;

  font-size: 16px;

  padding: 16px;
  padding-top: 8px;

  margin: 0;
}

#blockHeaderLogo {
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  text-decoration: none;

  display: inline-flex;
  align-items: center;

  border-radius: 18px;

  height: 32px;

  padding: 10px;
  margin-left: 10px;
  margin-right: 15px;
  margin-top: -2px;
}

#blockHeaderLogo:hover {
  background-color: #3383D1;
}

#blockHeaderLogoImg {
  width: 45px;
  height: 45px;

  margin-left: -8px;
  padding-right: 5px;
}

.dbImg {
  display: flex;
  margin: auto;
  max-width: 256px;
}

.dbBtn {
   align-content: flex-end;
   text-align: center;
}

.blockHeaderOption {
  display: inline-flex;

  align-items: center;
  justify-content: center;
  text-decoration: none;

  max-width: 175px;
  padding-left: 16px;
  padding-right: 16px;
  height: 64px;
  margin-top: -8px;

  box-sizing: content-box;
}

.blockHeaderOption:hover {
  background-color: #3383D1;
}

#inviteButton {
  display: inline-flex;
  margin-left: auto;
  margin-right: 12px;
  background-color: #3383D1;
  width: 75px;
}

#inviteButton:hover {
  background-color: #4494C3;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 32px;
}

h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 24px;
}

h3 {
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}

#imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  width: 100%;
  margin-top: 0;
}

#img {
  align-self: center;
  max-width: 18%;
  min-width: 100px;
  min-height: 100px;

  animation: imgintro 1s;
}

a {
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
}

#links {
  display: flex;
  flex-direction: row;

  font-size: 30px;

  justify-content: center;

  animation: linkintro 1s;
}

.link {
  margin: 0;
  vertical-align: middle;
}

.linkBtn {
  background-color: #106DC7;
  border-radius: 6px;
  box-shadow: 0 1px 2px #202020;
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px #2F2F2F;
  margin: auto;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
}

.linkBtn:hover {
  background-color: #3383D1;
}

.linkBtn:active {
  border-bottom: 0;
  border-top: 2px solid #287CCE;
  box-shadow: 0 0 0 #202020;
}

#mainLink {
  display: flex;
  font-size: 36px;
  animation: linkintro 1s;
}

#downloadLink {
  font-size: 26px;
  margin-bottom: 10px;
}

#imgPreview1 {
  margin-top: 8px;
}

.tocsub {
  padding-left: 0.6em;
}

em {
  background-color: #40404030;
  border-bottom: 1px solid #FFFFFF50;
  font-style: normal;
}

footer {
  font-size: 10pt;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 650px) {
  #blockHeader {
    font-size: 12px;
    flex-direction: column;
    height: 100px;
  }

  .blockHeaderOption {
    margin-top: 4px;
    max-width: 100%;
    width: 100% !important;
  }

  #blockHeaderLogo {
    margin-left: 24px !important;
    align-self: center;
  }

  #inviteButton {
    margin-left: 0;
    margin-bottom: -20px;
  }

  #links {
    flex-direction: column;
  }

  .bodyDoubleColumns {
    flex-direction: column;
  }
}

@keyframes imgintro {
	from {
    opacity: 0;
    transform: scale(0.5,0.5) rotate(180deg);
	}

	to {
    opacity: 1;
    transform: scale(1,1) rotate(0deg);
	}
}

@keyframes linkintro {
	from {
    opacity: 0;
    transform: translate(0px, 15px)
	}

	to {
    opacity: 1;
    transform: translate(0px, 0px)
	}
}
