body {
  font-family: 'Open Sans', sans-serif;
  background-color: #404040;
  color: #FFFFFF;
  margin: 0;
}

#headerBg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  background-image: url("bg.jpg");
  background-color: black;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;

  text-shadow: 0 0 6px #000000;

  margin-bottom: 24px;

  box-shadow: 0 0 6px #000000;
}

.headerText {
  padding-top: 16px; /* Workaround for text not centering properly */
  margin-left: 5%;
  margin-right: 5%;
}

#headerBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerButton {
  text-decoration: none;
  border-bottom: 3px solid rgba(100%, 100%, 100%, 0.75);
  border: 1px solid rgba(100%, 100%, 100%, 0.75);
  padding: 14px;
  margin-left: 5px;
}

.headerButton:hover {
  background-color: rgba(100%, 100%, 100%, 0.25);
}

.screenshot {
  box-shadow: 0 0 4px #000000;
  flex: 1 1 auto;
  width: 36vw;
  max-width: 590px;
  margin-right: 20px;
}

#contentContainer {
  display: flex;
  flex-direction: row;
  margin:auto;
  max-width:75%;
}

a {
  color: #FFFFFF;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
}

h1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 30pt;
  margin-top: 0;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 24pt;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: left;
}

#nav {
  border-radius: 5px;
  font-size: 28px;
  width: auto;
}

.navLink {
  display: inline;
  font-family: 'Oxygen', sans-serif;
}

.navImg {
  max-height: 96px;
}

.navImg:hover {
  filter: opacity(75%);

}

.navHeader {
  font-family: 'Oxygen', sans-serif;
  font-size: 32px;
}

footer {
  font-size: 10pt;
  text-align: center;
  margin-bottom: 8px;
}

@media only screen and (max-width: 700px) {
  #headerBtnContainer {
    flex-direction: column;
  }

  .headerButton {
    margin-left: 0;
  }

  #contentContainer {
    flex-direction: column;
  }

  .screenshot {
    width: 100% !important;
  }
}
